<!DOCTYPE html>
<html lang="en">

<head>
    <title>Store Clothes</title>
    <th:block th:replace="layout/head"></th:block>
</head>

<body>
<th:block th:replace="layout/toast"></th:block>
<div>
    <div class="row">
        <th:block th:replace="layout/taskbar"></th:block>
        <div class="container d-flex" style="width: 85%;">

            <div style="min-width: 180px;">
                <div class="d-flex flex-column border-end me-1 h-100">
                    <div class="py-2 d-flex flex-column justify-content-center render-nav">
                    </div>
                </div>
            </div>

            <div class="flex-grow-1">
                <div class="container d-flex justify-content-md-between">
                    <h3 class=" col-5">Recommended</h3>
                    <div class="col-3">
                        <select class="form-select" aria-label=".form-select-lg example" id="sortPrice">
                            <option value="">CHON KHOANG GIA</option>
                            <option value="asc">Gia tang</option>
                            <option value="desc">Gia giam</option>
                        </select></div>
                    <div class="col-3">
                        <select class="form-select  " id="pageSize">
                            <option value="">MOI CHON SO LUONG</option>
                            <option value="2">2 san pham</option>
                            <option value="3">3 san pham</option>
                            <option value="4">4 san pham</option>
                        </select>
                    </div>
                </div>

                <div class="form-group render-btn-brand">
                </div>
                <div class="py-2 d-flex flex-column justify-content-center">
                    <h3>Products</h3>
                    <div class="row render-product justify-content-center">

                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/assets/js/nav.js"></script>
<script src="/assets/js/demo.js"></script>
<script src="/assets/js/shop.js"></script>

</html>